In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\aless\appdata\local\programs\python\python314\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\aless\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aless\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\aless\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\aless\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\aless\appdata\local\programs\python\python314\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install lxml

Requirement already satisfied: lxml in c:\users\aless\appdata\local\programs\python\python314\lib\site-packages (6.0.2)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

In [6]:
url = "https://raw.githubusercontent.com/ProfAI/machine-learning-fondamenti/main/datasets/shirts_example.xml"

df = pd.read_xml(url)
df.head()

   id taglia  colore  prezzo
0   0      S  bianco    4.99
1   1      M  bianco   19.99
2   2     XL  bianco   12.49
3   3     XL  bianco   14.99
4   4      S  bianco   14.99